<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <a class="navbar-brand">zaplatina945</a>
        <li class="nav-item  col-auto">
          <a class="nav-link" routerLink="/"  [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }" >Информация</a>
        </li>
        <li class="nav-item  col-auto">
            <a class="nav-link" routerLink="purchases"   [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Покупки</a>
          </li>
        </ul>
  </div>
</nav>
